@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

/* Setup Snippet */
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 125%}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* Global styling */
header {
    /* ADded a linear gradient for better contrast  */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(noom-peerapong-2uwFEAGUm6E-unsplash.jpg);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 95vh;
    font-family: 'Oswald', sans-serif;
}

/* FONT SIZES */

h1 {
    font-size: 5rem;
    margin: 0;
    color: white;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1rem;
}

p {
    font-size: 0.75rem;
}

label {
    color: white;
}

select {
    padding: 10px 0;
    border: none;
}

/* Containers */
.discoverGenreContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.headingContainer {
    display: flex;
    align-items: center;
}

/* Might need to change this at some point, change to percentage? */
.filmIcon {
    height: 110px;
    padding-right: 25px;
}

.searchForm {
    width: 100%;
    padding: 3% 5%;
    display: flex;
    justify-content: center;
}

.inputField {
    padding: 10px 0;
    width: 50%;
    border: none;
}

/* Changed to same class */
.formButton {
    margin: 0;
    padding: 10px 30px;
    border: none;
    background: gold;

}

/*Changed the button hover - 1-6*/
.formButton:hover {
    background: black;
    transition: 0.3s ease-in-out;
    color: gold;
}

/* not sure what we want to do with the click styling,leaving this as a placeholder for now - 1-6 */
.formButton:active {
    color: red;
}

.searchFormContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

#discoverForm {
    display: flex;
    width: 40%;
}

#genreForm {
    display: flex;
    align-items: center;
}

#genres{
    background-color: white;
}

#yearInput,
#searchInput,
#genres
{
    text-align: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.genreLabel{
    padding-right: 15px;
}

.movieContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.movieDetailsContainer {
    width: 50%;
    font-family: 'Oxygen', sans-serif;
}

/* Updated width to 300px so if there is no movie poster the Alt will be contained - 1-6 */
.movieContainer img {
    padding: 30px 0;
    width: 300px;
}

/* Created a rough footer with juno link - 1-6*/
footer{
    background-color: black;
    color: white;
}

.junoFooterLink a{
    text-decoration: none;
    color: white;
}

.junoFooterLink a:hover{
    color: orange;
}