// Set footer's position to fixed to get rid of that whitespace 1-7, -JV
footer {
    background-color: black;
    color: white;
    width: 100%;
    position: fixed;
    bottom: 0;
}

footer .wrapper{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.junoFooterLink a{
    text-decoration: none;
    color: white;
    transition: color 0.3s ease-in-out;
    
        &:hover{
            color: #ea593e;
        }
}

footer .wrapper a{
    color: white;
    transition: color 0.3s ease-in-out;

        &:nth-child(1):hover,
        :nth-child(2):hover{
        color: gold;
        }
}
