select {
    padding: 10px 0;
    border: none;
    &:focus {
        border: initial;
    }
}

a{
    text-decoration: none;
}

.formButton {
    margin: 0;
    padding: 10px 30px;
    border: none;
    background: gold;
    transition: 0.3s ease-in-out;

    &:hover, 
    &:focus {
        background: black;
        color: gold;
    }

    &:active{
        color: red;    
    }
}
