/* Global styling */
header {
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.8)), url(/noom-peerapong-2uwFEAGUm6E-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 63px);
    font-family: 'Oswald', sans-serif;
}

label {
    padding-right: 15px;
    text-shadow: 2px 1px black;
}

/* Removes arrows from number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.filmIcon {
    height: 110px;
    padding-right: 25px;
}

// Containers and forms.
.headingContainer {
    display: flex;
    align-items: center;
}

.searchFormContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

.searchForm {
    width: 100%;
    padding: 3% 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.discoverGenreContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.discoverForm {
    display: flex;
    align-items: center;
    width: 40%;
}

.genreForm {
    display: flex;
    align-items: center;
}

//Inputs and selectors
.inputField,
.genreSelect {
    text-align: center;
}

.inputField {
    padding: 10px 0;
    width: 50%;
    border: none;
    &:focus {
        outline: 5px solid gold     ;
    }
}

.genreSelect {
    background-color: white;
    &:focus {
        outline: 5px solid gold     ;
    }
}

//Anchor tag that jumps to results.
.jumpToResults {
    display: none;
    font-size: 1.5rem;
    margin: 5% 0 0 0;
    position: relative;
    transition: color 0.3s ease-in-out;
    &:hover,
    &:focus {
        color: gold;
    }
}

.jumpToResults::after {
    content: "";
    position: absolute;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: gold;
    animation: grow 1s forwards;
}

//Animation for jumpToResults Link
@keyframes grow {
    from {
        width: 0;
    } to {
        width: 100%;
    }
}