.movieContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.movieDetailsContainer {
    width: 50%;
    font-family: 'Oxygen', sans-serif;
}

.movieContainer img {
    padding: 60px 0 0 0;
    width: 300px;
}

// Added more padding to account for fixed footer 1-7, -JV
.movieContainer:last-of-type img {
    padding-bottom: 123px;
    width: 300px;
}

.movieContainer:last-of-type .movieDetailsContainer {
    padding-bottom: 60px;
}