@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');



/* FONT SIZES */

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1rem;
}

p {
    font-size: 0.75rem;
}

label {
    color: white;
}