/* Added a wrapper as per project requirements -JV */
.wrapper {
  width: 90%;
  max-width: 2160px;
}

.headerWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resultsWrapper {
  margin: 0 auto;
}