/* Setup Snippet */
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 125%;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Global styling */
header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.2)), to(rgba(0, 0, 0, 0.8))), url(/noom-peerapong-2uwFEAGUm6E-unsplash.jpg);
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.8)), url(/noom-peerapong-2uwFEAGUm6E-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(100vh - 63px);
  font-family: "Oswald", sans-serif;
}

label {
  padding-right: 15px;
  text-shadow: 2px 1px black;
}

/* Removes arrows from number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.filmIcon {
  height: 110px;
  padding-right: 25px;
}

.headingContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.searchFormContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.searchForm {
  width: 100%;
  padding: 3% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.discoverGenreContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.discoverForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
}

.genreForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inputField,
.genreSelect {
  text-align: center;
}

.inputField {
  padding: 10px 0;
  width: 50%;
  border: none;
}
.inputField:focus {
  outline: 5px solid gold;
}

.genreSelect {
  background-color: white;
}
.genreSelect:focus {
  outline: 5px solid gold;
}

.jumpToResults {
  display: none;
  font-size: 1.5rem;
  margin: 5% 0 0 0;
  position: relative;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.jumpToResults:hover, .jumpToResults:focus {
  color: gold;
}

.jumpToResults::after {
  content: "";
  position: absolute;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: gold;
  -webkit-animation: grow 1s forwards;
          animation: grow 1s forwards;
}

@-webkit-keyframes grow {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes grow {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
footer {
  background-color: black;
  color: white;
  width: 100%;
  text-align: center;
}

footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

footer .wrapper a {
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
footer .wrapper a:hover {
  color: gold;
}

.footerLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.movieContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.movieContainer img {
  padding: 60px 0 0 0;
  width: 300px;
}

.movieContainer:last-of-type img {
  padding-bottom: 60px;
  width: 300px;
}

.movieDetailsContainer {
  width: 50%;
  font-family: "Oxygen", sans-serif;
}

.movieContainer:last-of-type .movieDetailsContainer {
  padding-bottom: 60px;
}

/* FONT SIZES */
h1 {
  font-size: 5rem;
  margin: 0;
  text-shadow: 10px 1px black;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

p {
  font-size: 1rem;
}

label, a, h1 {
  color: white;
}

html {
  scroll-behavior: smooth;
}

select {
  padding: 10px 0;
  border: none;
}
select:focus {
  border: initial;
}

a {
  text-decoration: none;
}

.formButton {
  margin: 0;
  padding: 10px 30px;
  border: none;
  background: gold;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.formButton:hover, .formButton:focus {
  background: black;
  color: gold;
}
.formButton:active {
  color: red;
}

.wrapper {
  width: 90%;
  max-width: 2160px;
}

.headerWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.resultsWrapper {
  margin: 0 auto;
}

@media (max-width: 1050px) {
  header {
    height: calc(100vh - 109px);
  }

  footer .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  footer .wrapper a {
    text-align: center;
  }

  label {
    padding: 3% 0;
  }

  .movieContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .movieDetailsContainer {
    text-align: center;
    width: 100%;
  }

  .movieContainer:last-of-type .movieDetailsContainer {
    padding-bottom: 60px;
  }

  .movieContainer:last-of-type img {
    padding-bottom: 60px;
  }

  .inputField {
    width: 100%;
  }

  .discoverGenreContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .searchForm {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .discoverForm {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .genreForm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }

  .genreSelect {
    width: 100%;
  }

  .formButton {
    width: 100%;
  }

  .footerLinks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 900px) {
  h1 {
    font-size: 4rem;
  }

  .filmIcon {
    height: 90px;
  }
}
@media (max-width: 600px) {
  header {
    height: calc(100vh - 132px);
  }
}
@media (max-width: 700px) {
  h1 {
    font-size: 3rem;
  }

  .filmIcon {
    height: 70px;
  }

  .searchForm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .headerWrapper {
    margin-bottom: 15%;
  }

  .headingContainer {
    margin-bottom: 10%;
  }
}
@media (max-width: 500px) {
  h1 {
    font-size: 2rem;
    text-shadow: 3px 3px black;
  }

  .filmIcon {
    height: 50px;
  }
}
@media (max-width: 360px) {
  h1 {
    font-size: 1.5rem;
  }

  .filmIcon {
    height: 40px;
    padding-right: 15px;
  }

  .headerWrapper {
    margin-bottom: 50%;
  }
}